@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;800&display=swap');

:root {
  --space-xs: 12px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 64px;

  --border-sm: 2.5px;
  --border-lg: 5px;

  --colour-bg: #f7f7f7;

  --colour-text-primary: #1b1717;
  --colour-text-secondary: #f7f7f7;
  --colour-text-accent: #aca06c;
  --colour-text-description: #868d9c;

  --colour-primary: #102246;
  --colour-primary-hover: #293b5f;

  --colour-secondary: #2e4065;
  --colour-secondary-hover: #47597e;

  --colour-accent: #aca06c;

  --box-shadow: rgb(0, 0, 0, 0.15) 1px 2px 10px;
  --box-shadow-hover: rgb(0, 0, 0, 0.2) 1px 2px 10px;

  /* teal: 079299 */
  /* blue: 3d84b8 */
  /* purple: 511281 */
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--colour-bg);
  color: var(--colour-text-primary);
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
}

section {
  margin-bottom: 80px;
}

h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.fw-med {
  font-weight: 400;
}

.fw-bold {
  font-weight: 600;
}

p {
  margin-top: 0;
}

.underline {
  border-bottom: var(--border-lg) solid var(--colour-primary);
}

.italic {
  font-style: italic;
}

.font-code {
  font-family: 'Source Code Pro', monospace;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  box-sizing: border-box;
  background: var(--colour-secondary);
  color: var(--colour-text-secondary);
}

.btn:hover {
  transform: translateY(-2px);
  background: var(--colour-secondary-hover);
}

.code-accent {
  color: var(--colour-text-accent);
}
