@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

:root {
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
  --space-xl: 6rem;

  --border-sm: 2.5px;
  --border-lg: 5px;

  --colour-bg: #eee;

  --colour-text: #181818;
  --colour-text-hover: #18181895;
  --colour-text-transparent: #18181820;

  --colour-accent: #079299;
  --colour-accent-hover: #07929995;
  --colour-accent-transparent: #07929950;

  /* teal: 079299 */
  /* blue: 3d84b8 */
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--colour-bg);
  overflow-x: hidden;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--colour-text);
}

section {
  padding: var(--space-sm) var(--space-lg);
  box-sizing: border-box;
}

h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.fw-med {
  font-weight: 600;
}

.fw-bold {
  font-weight: 800;
}

.underline {
  border-bottom: var(--border-lg) solid var(--colour-accent-transparent);
}

.italic {
  font-style: italic;
}

.role {
  color: var(--colour-accent);
}

.font-code {
  font-family: 'Source Code Pro', monospace;
}

.fas,
.fab {
  color: var(--colour-accent);
}

.fa-github,
.fa-spotify,
.fa-apple {
  color: var(--colour-text);
  font-size: var(--space-md);
  margin: var(--space-xs) var(--space-xs) 0 0;
}

.fa-github:hover,
.fa-spotify:hover,
.fa-apple:hover {
  transform: translateY(-2px);
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 16px;
  }
}
