/* Nav section */
nav {
  display: flex;
  justify-content: flex-end;

  padding: var(--space-xs) 0;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  z-index: 10;
  box-sizing: border-box;
}

.nav__item {
  margin: 0 var(--space-sm);
}

.nav__item:hover {
  transform: translateY(-2px);
}

/* Header section */
.header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  min-height: 500px;

  position: relative;
}

.header h1 {
  margin: 0;
}

.header__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.header__img-container {
  display: flex;
  justify-content: center;
}

.header__img {
  border: var(--border-lg) solid var(--colour-accent-transparent);
  border-radius: 50%;
  margin: 0 var(--space-lg);
  animation: fadeFromLeft 0.75s ease-in-out;
}

.header__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  padding: var(--space-sm);

  animation: fadeFromRight 0.75s ease-in-out;
}

.header__location {
  margin-top: var(--space-sm);
}

.code-accent {
  color: var(--colour-accent);
}

.indent {
  margin-left: var(--space-sm);
}

/* Projects section */
.grid-container {
  display: grid;
  grid-gap: var(--space-sm);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  box-sizing: border-box;
}

.grid-item {
  display: flex;
  flex-flow: column nowrap;
  min-height: 250px;
  height: 100%;
  border-radius: var(--border-lg);
  box-sizing: border-box;
}

.grid-item__img-container {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.grid-item__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: var(--border-lg);
}

.grid-item__info {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border: var(--border-sm) solid var(--colour-accent-transparent);
  border-radius: var(--border-lg);
  margin: var(--space-xs) 0;
  padding: var(--space-xs);
  box-sizing: border-box;
  flex: 1;
}

/* Recommendations */
.grid-item__recommendation {
  background: var(--colour-accent);
  color: var(--colour-bg);
  padding: var(--space-xs) var(--space-sm);
  margin: 0;
  border-radius: var(--border-lg);
  text-align: center;
}

.grid-item__streaming-links {
  width: 100%;
}

/* Experience */
.experience__pdf-link {
  display: flex;
  margin: var(--space-sm) 0;
  background: var(--colour-accent);
  color: var(--colour-bg);
  width: 250px;
  justify-content: center;
  text-align: center;
  padding: var(--space-xs) var(--space-sm);
  box-sizing: border-box;
  border-radius: var(--border-lg);
}

.experience__pdf-link:hover {
  transform: translateY(-2px);
}

.experience__item {
  margin-bottom: var(--space-md);
}

footer {
  background: var(--colour-accent);
  color: var(--colour-bg);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: var(--space-lg);
  padding: var(--space-sm) 0;
  box-sizing: border-box;
  font-size: 87.5%;
}

@media only screen and (max-width: 730px) {
  .header__img {
    margin: 0;
  }
}

@media only screen and (max-width: 970px) {
  section {
    padding: var(--space-md);
  }

  .intro__img {
    margin: var(--space-md) 0;
  }
}
